*{
  margin: 0;
  padding: 0;
}


.heading{
  height: auto;
  width: 100%;
  margin: 0;
  background-color: palevioletred;
  border: 5px solid blanchedalmond;
  }

.main_div{
  height: auto;
  width: 100%;
  background-color: wheat;
}

.image{
  height: 250px;
  width: 250px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  
}

.list{
  float: left;
  margin: 20px 40px;
  background-color: grey;
  border-radius: 14px;
  
}


.movie_info{
  height: 100px;
  width: 100%;
  background-color: grey;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 2px 0px;

}

.category{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 12px;
  color: antiquewhite;

}

.movie_name{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: aquamarine;
  text-transform: capitalize;

}


button{
  height: 30px;
  width: 150px;
  background-color: #03a9f4;
  border: 2px solid white;
  margin-left: 50px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

